[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dulwich = "*"
pip = "*"
cbbuild-util-0-5-1 = {git = "https://github.com/couchbase/python-couchbase-commons",ref = "v0.5.1",subdirectory = "cbbuild-util"}

[dev-packages]

[requires]
python_version = "3.6"
